$footer-color: #592D10;
$card-color: #F3F3F3;
$black: #060607ff;

%border-radius {
    border-radius: 30px;
}

%border-radius-card {
    border-radius: 25px;
}

%border-radius-small {
    border-radius: 20px;
}